/* Стили header */
.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.header__links-list {
  display: flex;
  padding: 136px 0 0 49px;
  list-style-type: none;
  align-items: flex-start;
}

.header__links-list:first-child a {
  text-decoration: none;
}

.header__links-list-item {
  list-style-type: circle;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-right: 32px;
}

.header__links-list-item:first-child {
  list-style-type: none;
}

.header__links-list-item:not(:first-child) {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.header__logo {
  align-self: center;
  justify-content: center;
}

.header__logo-image {
  width: 148px;
  height: 106px;
  padding-left: 2px;
  margin-top: 92px;
  flex-shrink: 0;
}

/* Стили для адреса */
.address {
  display: grid;
  grid-template-rows: 24px 24px 24px;
  justify-content: right;
  margin: 98px 49px 0 0;
}

.address-items {
  max-width: 240px;
  width: 100%;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  white-space: nowrap;
}

.address-items:not(:last-child) {
  align-items: center;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.address-items:last-child {
  text-decoration: none;
}

/* Стили для обложки */
.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 92px;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Стили для заголовка обложки */
.cover__title {
  position: relative;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

/* Стили для выделенных частей текста в заголовке */

/* Стили для верхней части заголовка */
.span-top {
  line-height: 115%;
  letter-spacing: 30px;
  margin: 165px 50px 0px 50px;
}

/* Изменяем межбуквенное расстояние верхней части заголовка */
.span-top_letter-spacing {
  letter-spacing: 60px;
}

/* Стили для центральной части заголовка */
.span-center {
  text-align: center;
  line-height: 100px;
  letter-spacing: 30px;
  margin: 0px 110px 0px 50px;
  padding-left: 60px;
}

/* Изменяем межбуквенное расстояние центральной части заголовка */
.span-center_letter-spacing {
  letter-spacing: 60px;
}

/* Стили для правой части заголовка */
.span-right {
  line-height: 100px;
  margin: 0px 50px;
  text-align: right;
}

/* Изменяем межбуквенное расстояние правой части заголовка */
.span-right__first-letter {
  letter-spacing: 35px;
}

/* Изменяем межбуквенное расстояние правой части заголовка */
.span-right__second-letter {
  letter-spacing: 7px;
}

/* Изменяем межбуквенное расстояние правой части заголовка */
.span-right__third-letter {
  letter-spacing: 5px;
}

/* Обнуляем межбуквенное расстояние последней буквы в правой части заголовка */

/* Стили для второстепенного заголовка */
.cover__description {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr auto;
  justify-content: flex-end;
  align-items: center;
  justify-items: right;
  margin-top: 135px;
  margin-right: 50px;
  padding-bottom: 48px;
  column-gap: 78px;
}

/* Стили для межбуквенного расстояния */
.cover__description-text-word-spacing {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 17px;
}
.extra-word-spacing {
  word-spacing: 23px;
}

/* Стили для второй части  */
.cover__description-text-word-spacing-last-words {
  display: inline-block;
  /* Используем inline-block, чтобы текст и кнопка были в одной строке */
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 22px;
  text-transform: uppercase;
  vertical-align: middle;
  /* Выравниваем элемент по вертикали */
}

/* Стили для кнопки */
.bet-button {
  position: relative;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  width: 257px;
  height: 52px;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

.lots__heading {
  display: grid;
  grid-template-rows: auto 1fr;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 180px 0 0 90px;
}
.lots__card-list {
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(3, 430px);
  column-gap: 25px;
  margin-top: 27px;
  margin-bottom: 30px;
  margin-left: 50px;
  list-style-type: none;
}

@media (max-width: 1440px) {
  /* не понял как вместить карточку полностью при размере меньше 1440, сделал с помощью медиа запроса. Вылазила 3 карточка.*/
  .lots__card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .lots__card-list-item {
    flex-basis: calc(
      33.33% - 25px
    ); /* Рассчитываем ширину для 3 карточек в ряду с отступами */
    margin-bottom: 25px;
  }
}

.lots__card-list-item {
  width: 430px;
  position: relative;
}

.card-link {
  text-decoration: none;
}

.lots h3,
.lots p {
  position: relative;
  z-index: 1;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-style: normal;
  line-height: 120%;
}

.lots h3 {
  font-size: 22px;
  font-weight: 700;
  text-decoration-line: underline;
  text-underline-offset: 3px;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 1px;
  text-transform: uppercase;
  padding: 50px 40px 0 40px;
  margin-bottom: 30px;
}

.lots p {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  padding: 0 40px 0 40px; /* тут я сделал отступ в 20пх, но у всех тегов p разный отступ, как это сделать я не понимаю*/
}

.lots__card-list-item:first-child .card p:first-of-type {
  /* не понимаю как  сделать разный отступ сверху для каждого p не объявляя новый селектор либо же не обращаясь к определенному элементу*/
  margin-top: 202px;
}
.lots__card-list-item:last-child .card p:last-of-type {
  margin-top: 80px;
}

/* Стили для карточек с изображениями */
.card_type {
  position: relative;
  width: 430px;
  min-height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.lots__look-more-link {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-thickness: 1px;
  text-underline-offset: 4.5px;
  margin-left: 90px;
  margin-top: 20px;
}

/* Секция */
.about {
  display: grid;
  grid-template-columns: 430px auto;
  margin-top: 181px;
  margin-left: 50px;
  column-gap: 25px;
}

/* Общий стиль для колонок */

/* Стили для левой колонки с логотипом */
.about__logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 95px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

/* Стили для правой колонки с текстом */
.about__title {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 100px;
}

.about__text {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin: 100px 0px 0 0;
}

.about__text p:first-child {
  padding-right: 50px;
  padding-bottom: 30px;
  line-height: 117%;
}

/* Стили для первого абзаца текста */
.about__text p:last-child {
  padding-right: 50px;
  line-height: 115%;
}

.footer {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 1440px;
  margin: 185px 0 0 0;
}
.footer__address {
  display: grid;
  grid-template-rows: 24px 24px 24px;
  margin: 0 49px 109px 50px;
}
.address-items-footer {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  white-space: nowrap;
}

.address-items-footer:not(:last-child) {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.address-items-footer:last-child {
  text-decoration: none;
}

.footer__menu-list {
  display: grid;
  grid-template-columns: 1fr; /* Одна равномерная колонка */
  justify-content: center; /* Выравнивание по центру по горизонтали */
  list-style-type: none;
  padding-right: 40px;
}

.footer__menu-link {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-underline-offset: 4px;
}

.footer__menu-list-item {
  text-align: center;
  margin: 0;
}

.footer__menu-link_active a {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__social-link {
  margin: 0 49px 0 0;
}

.footer__social-icon {
  width: 48px;
  height: 50px;
  margin: 0;
}
